# creating an array having values from 1-20

In [78]:
import numpy as np
import pandas as pd
from numpy import random
array=np.array([1,3,5,7,9,2,4,6,8,10,12,14,16,19,18,11,13,14,15,17])
array

array([ 1,  3,  5,  7,  9,  2,  4,  6,  8, 10, 12, 14, 16, 19, 18, 11, 13,
       14, 15, 17])

# reshaping array in 4X5 2D array

In [83]:
y=array.reshape(4,5)
y

array([[ 1,  3,  5,  7,  9],
       [ 2,  4,  6,  8, 10],
       [12, 14, 16, 19, 18],
       [11, 13, 14, 15, 17]])

In [81]:
y.shape

(4, 5)

In [80]:
y.ndim

2

# DataFrame

In [67]:
x=pd.DataFrame(y)

In [68]:
x

    0   1   2   3   4
0   1   3   5   7   9
1   2   4   6   8  10
2  12  14  16  19  18
3  11  13  14  15  17

# PRINTING 1-3 ROWS OF DATAFRAME

In [69]:
x[0:3]

    0   1   2   3   4
0   1   3   5   7   9
1   2   4   6   8  10
2  12  14  16  19  18